<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Jupyter Markdown Specification</title>
    <!--
    <script defer type="module" src="https://unpkg.com/@mdi/js@^7.2.96"></script>
    -->
    <link href="https://unpkg.com/@jupyterlab/apputils/style/materialcolors.css" rel="stylesheet" />
    <link href="https://unpkg.com/@jupyterlab/theme-light-extension/style/theme.css" rel="stylesheet" />
    <script type="module" src="https://unpkg.com/@jupyter/web-components@~0.13.0/dist/toolkit.min.js"></script>

    <style>
    body {
        color: var(--foreground-on-accent-active);
        font-size: var(--type-ramp-base-font-size);
        line-height: var(--type-ramp-base-line-height);
        font-family: var(--body-font);
    }

    header {
      padding: 0 2rem;
      border-bottom: solid var(--neutral-color) calc(var(--stroke-width) * 1px);
    }

    h1 {
        font-size: var(--type-ramp-plus-3-font-size);
        line-height: var(--type-ramp-plus-3-line-height);
    }

    .navbar {
      width: 100%;
      display: inline-flex;
      align-items: end;
    }

    .nav-links {
        display: inline-flex;
        margin: auto 0 auto auto;

        list-style: none;

        font-size: var(--type-ramp-plus-2-font-size);
        line-height: var(--type-ramp-plus-2-line-height);
    }

    .nav-links > li {
        padding: 0 20px;
    }

    .nav-links > li > a {
        text-decoration: none;
    }
    </style>
    {% block head %}{% endblock %}
</head>

<body data-jp-theme-name="default" data-jp-theme-light="true">
    <header>
     <nav class="navbar">
        <a class="nav-brand" href="https://jupyter.org">
            <picture>
                <source media="(max-width: 767px)" srcset="https://jupyter.org/assets/logos/logomark-orangebody-greyplanets.svg">
                <source media="(min-width: 768px)" srcset="https://jupyter.org/assets/logos/rectanglelogo-greytext-orangebody-greymoons.svg">
                <img class="navbar-logo" src="https://jupyter.org/assets/logos/rectanglelogo-greytext-orangebody-greymoons.svg" alt="Jupyter Home" loading="eager" height="40">
            </picture>
        </a>
        <ul class="nav-links">{% for heading in pages %}
        <li><a href="{{ heading[1] }}">{{ heading[0] }}</a></li>{% endfor %}
        </ul>
     </nav>
    </header>
    {% block content %}{% endblock %}
    <script type="module">
        // Inject JupyterLab theme listener
        import { addJupyterLabThemeChangeListener } from 'https://unpkg.com/@jupyter/web-components/dist/toolkit.min.js';
        addJupyterLabThemeChangeListener();
    </script>
    {% block footer %}{% endblock %}
</body>

</html>