{% extends "base.html.jinja2" %}

{% block head %}
<style>
* {
    user-select: none;
}

table {
    width: 100%;
}

td {
    width: 50%;
    vertical-align: top;
}

#editor {
    padding-top: 62px;
}

#raw {
    user-select: text;
}

.cm-editor.cm-focused {
    outline: solid var(--accent-fill-focus) calc(var(--focus-stroke-width) * 1px);
}
</style>
{% endblock %}

{% block content %}
<article>
<h1>Try Jupyter Markdown</h1>

<p>Write some Markdown prose in the editor and see how it will be rendered using Jupyter flavored Markdown.</p>

<table>
    <tbody>
        <tr>
            <td id="editor"></td>
            <td>
                <jp-tabs>
                    <jp-tab>Preview</jp-tab>
                    <jp-tab>HTML</jp-tab>
                    <jp-tab-panel id="preview"></jp-tab-panel>
                    <jp-tab-panel id="raw"></jp-tab-panel>
                </jp-tabs>
            </td>
        </tr>
    </tbody>
</table>
</article>
{% endblock %}

{% block footer %}
<script defer src="./editor.bundle.js"></script>
{% endblock %}
