{% extends "base.html.jinja2" %}

{% block content %}
<article>
<h1>Try Jupyter Markdown</h1>

<p>Write some Markdown prose in the editor and see how it will be rendered using Jupyter flavored Markdown.</p>

<table>
    <tbody>
        <tr>
            <td id="editor"></td>
            <td id="rendered"></td>
        </tr>
    </tbody>
</table>
</article>
{% endblock %}

{% block footer %}
<script defer src="./editor.bundle.js"></script>
{% endblock %}
